<?xml version="1.0" ?>
<launch>
	<!-- arguments -->
	<arg name="gui" default="true" />
	<arg name="hinge_value" default="1.57"/>

	<!-- load urdf, start state publishers -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find hdt_nri_description)/urdf/hdt_nri.xacro' hinge_angle:=$(arg hinge_value)"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="$(arg gui)" />
	</node>
	
	<!-- launch rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdt_nri_description)/launch/hdt_nri.rviz"/>
</launch>